.convertor {
    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 5rem;
        grid-auto-rows: minmax(100px, auto);
        margin: 5rem;
    }

    &-controls {
        input {
            margin-bottom: 1rem;
        }

        &-btn {
            &-clear,
            &-create {
                font-family: sans-serif;
                font-size: 15px;
            
                text-decoration: none;
                background: none;
                color: #222;
                letter-spacing: 2px;
                border: 2px solid #222;
                transition: all 0.5s;
                font-size: 16px;
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:before {
                    content: '';
                    background-color: white;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 50px;
                    width: 100%;
                    transform: translateX(-100%) rotate(45deg);
                    transition: all 0.5s;
                  }
              
                  .active {
                      color: #e3e3e3;
                  }
            }


            &-create {
                padding: 10px 20px;
                margin: 0rem 0.5rem;

                &:disabled {
                  background-color: #797979;
                  color:#ffffff;

                  &:hover {
                    background-color: #797979;
                    &:before {
                      transform: translateX(-100%) rotate(45deg);
                    }
                  }
                }

                &:hover {
                    background-color: #01af18;
                    color:#ffffff;
                    &:before {
                      transform: translateX(100%) rotate(45deg);
                    }
                  }
            }

            &-clear {
                padding: 5px 10px;
                margin: 1rem 0.5rem;

                &:hover {
                    background-color: #F44336;
                    color:#ffffff;
                    &:before {
                      transform: translateX(100%) rotate(45deg);
                    }
                  }
            }
        }

        &-btns {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
    }

    &-gif {
        &-empty {
            background-color: #ccc;
            height: 12rem;
            width: 12rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-video {
        &-empty {
            background-color: #ccc;
            height: 10rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.custom-file-input::-webkit-file-upload-button {
    margin-top: 1rem;
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select a file';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 400;
    font-size: 10pt;
    padding: 5px 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
  }
  .custom-file-input:hover::before {
    border-color: black;
    background-color: red;
    color: #fff;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
  -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
  border-radius: 40px;
  padding: 4px 30px 20px;
  min-height: 380px;
}