.convertor {
    &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5rem;
    }

    &-controls {
        border: 1px solid black;
        padding: 2rem 5rem;
        display: flex;
        flex-direction: column;
        background: #fff;

        input {
            margin-bottom: 1rem;
        }

        &-btn {
            margin: 1rem 0.5rem;
            font-family: sans-serif;
            font-size: 15px;
        
            text-decoration: none;
            background: none;
            color: #222;
            letter-spacing: 2px;
            border: 2px solid #222;
            transition: all 0.5s;
            padding: 10px 20px;
            font-size: 16px;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          
            &:hover {
              background-color: #F44336;
              color:#ffffff;
              &:before {
                transform: translateX(100%) rotate(45deg);
              }
            }
          
            &:before {
              content: '';
              background-color: white;
              position: absolute;
              left: 0;
              top: 0;
              height: 50px;
              width: 100%;
              transform: translateX(-100%) rotate(45deg);
              transition: all 0.5s;
            }
        
            .active {
                color: #e3e3e3;
            }
        }
    }

    &-gif {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        padding: 2rem;
        background: #fff;

        &-empty {
            background-color: gray;
            height: 10rem;
            width: 100%;
        }
    }

    &-video {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        padding: 2rem;
        background: #fff;

        &-empty {
            background-color: gray;
            height: 10rem;
            width: 100%;
        }
    }
}