body {
  width: 100%;
  background: linear-gradient(113deg, rgba(2,0,36,1) 0%, rgb(216, 216, 216) 0%, rgba(255, 255, 255, 1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: hidden;
}